<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://code.alibabatech.com/schema/dubbo
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 配置应用名称 -->
    <dubbo:application name="p2p"/>
    <!-- 配置注册中心 -->
    <dubbo:registry protocol="zookeeper" address="47.96.233.180:2181"/>
    <!--用户业务-->
    <dubbo:reference interface="com.bjpowernode.p2p.service.loan.LoanInfoService" id="loanInfoService" version="1.0.0" check="false"/>
    <dubbo:reference interface="com.bjpowernode.p2p.service.user.UserService" id="userService" version="1.0.0" check="false"/>
        <!--投资业务-->
    <dubbo:reference interface="com.bjpowernode.p2p.service.loan.BidInfoService" id="bidInfoService" version="1.0.0" check="false"/>
    <!--账户业务-->
    <dubbo:reference interface="com.bjpowernode.p2p.service.user.FinanceAccountService" id="financeAccountService" version="1.0.0" check="false"/>
    <!--充值业务-->
    <dubbo:reference interface="com.bjpowernode.p2p.service.loan.RechargeRecordService" id="rechargeRecordService" version="1.0.0" check="false"/>
    <!--收入业务-->
    <dubbo:reference interface="com.bjpowernode.p2p.service.loan.IncomeRecordService" id="incomeRecordService" version="1.0.0" check="false"/>
    <!--redis业务-->
    <dubbo:reference interface="com.bjpowernode.p2p.service.loan.RedisService" id="redisService" version="1.0.0" check="false"/>
</beans>